/* ------ Phone ( < 425px) ------ */

body {
	font-family: 'Roboto', sans-serif;
	color: #262626;

}

body * {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.section {
	margin: 0;
	width: 100%;
}

.card {
	padding: 20px 40px;
	text-align: center;
}

.card-section {
	padding: 5px 0;
}

.btn {
	background-color: #3897f0;
	color: #fff;
	font-size: 14px;
	border: none;
	padding: 5px 0;
}

.btn, input {
	font-size: 14px;
	line-height: 18px;
	width: 100%;
	border-radius: 3px;
	margin: 3px 0;
}

p {
	font-size: 14px;
	line-height: 18px;
	margin: 2px 10px;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

/* main card */

.main-card {
	color: #999;
}

.logo-image {
	width: 65%;
	margin: 0 auto;
}

h2 {
	font-size: 18px;
	line-height: 22px;
}

input {
	padding: 8px 0 8px 8px;
	background: #fafafa;
	border: 1px solid #ccc;
}

input:focus {
	border-color: #777;
	outline-width: 0;
}

.terms-text a {
	font-weight: 700;
}

/* Login Card */

.login-text a{
	color: #3897f0;
}

/* Store Links */
.store-badge {
	width: 150px;
}

/* Footer */
footer {
	background-color: #fafafa;
}

.footer-links {  /* Couldnt think of how to do this without flexbox... */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: #003569;
	font-size: 12px;
}

footer a {
	margin: 7px 15px;
	display: inline-block;
}

.copyright-text {
	color: #999;
	text-align: center;
	font-size: 12px;
	margin: 8px 0;
}

/* ------ Tablet ( 425 < vw < 768 ) ----- */
@media (min-width: 426px) and (max-width: 768px) {





}


/* ----- Desktop (> 768) ---- */
@media (min-width: 767px){

}

