/* ------ Phone ( < 425px) ------ */

body {
	font-family: 'Roboto', sans-serif;
	color: #262626; /* dark grey */

}

body * {
	box-sizing: border-box; /* Fixed text input sizing issue */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

aside { /* Phone images (hide on small screens) */
	display: none;
}

.section {
	margin: 0;
	width: 100%;
}

.card { /* Separate cards visible on larger screens */
	padding: 20px 40px;
	text-align: center;
}

.card-section { /* space out content in cards */
	padding: 5px 0;
}

.btn { /* buttons */
	background-color: #3897f0; /* blue */
	color: #fff;
	font-size: 14px;
	border: none;
	padding: 5px 0;
	cursor: pointer;
}

.btn:active {
	background-color: #117bdf; /* Button darker blue when pressed */
}

.btn, input { 
	font-size: 14px;
	line-height: 18px;
	width: 100%;
	border-radius: 3px;
	margin: 3px 0;
}

.btn:focus, input:focus { /* get rid of highlight on selected form items */
	outline-width: 0;
}

p {
	font-size: 14px;
	line-height: 18px;
	margin: 2px 10px;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit; /* dont change link color after they have been clicked */
}

/* main card */
.main-card {
	color: #999; /* lightish grey */
}

.logo-image {
	width: 65%;
	margin: 0 auto;
}

h2 {
	font-size: 18px;
	line-height: 22px;
}

input {
	padding: 8px 0 8px 8px;
	background: #fafafa;
	border: 1px solid #ccc;
}

input:focus { /* Darker border when input field is selected */
	border-color: #777;
}

.terms-text a { /* Bold the links */
	font-weight: 700;
}

/* Login Card */
.login-text a{
	color: #3897f0; /* blue */
}

/* Store Links */
.store-badge {
	width: 133px; /* size links to app stores, will be on single line on larger phones */
}

/* Footer */
footer {
	background-color: #fafafa;
}

.footer-links {  /* Couldnt think of how to do this centering without flexbox... */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: #003569;
	font-size: 11px;
}

footer a { /* space out the links */
	margin: 7px 12px;
	display: inline-block;
}

.copyright-text {
	color: #999;
	text-align: center;
	font-size: 10px;
}

/* ------ Tablet ( 425 < vw) ----- */
@media (min-width: 426px) {
	body {
		background-color: #fafafa;
	}

	.card { /* This card looks like a card */
		max-width: 350px;
		margin: 10px auto;
		background-color: #fff;
		border: 1px solid #e6e6e6;

	}

	.card-flat { /* This card acts like a card but shouldnt look like a card */
		border: none;
		background-color: inherit;
	}
}


/* ----- Desktop (> 768) ---- */
@media (min-width: 767px){
	.wrapper {
		width: 700px;
		margin: 30px auto 0 auto;
	}
	aside { /* Show the phones image on large screens */
		display: inline-block;
		float: left;
		margin-left: auto;
	}

	aside img {
		margin-top: 50px;
		margin-right: 20px;
		width: 330px;
	}

	main { /* Float the content next to the image */
		float: right;
		margin-right: auto;
	}

	footer {
		clear: both;
		max-width: 930px;
		margin: 30px auto;
	}

	.footer-links { /* links and copyright text on same line on big screens */
		float: left;
	}

	.copyright {
		float: right;
	}
}

